{% extends "base.html" %}
{% load static %}
{% load rating_tags %}

    <!-- header section ends -->

    <!-- sub heading -->
{% block content %}
    <div class="sub-heading">
        <h1>customer's review</h1>
    </div>

    <!-- end -->

    <!-- review section starts -->

    <section class="review">

        <div class="box-container">
            {% for review in reviews %}
                <div class="box">
                    <div class="image">
                        <img src="{% static "images/reviews/quote-left.png" %}" width="25" height="25" alt="">
                        {% if review.photo %}
                            <img src="{{ review.photo.url }}" alt="" class="user">
                        {% endif %}
                            <img src="{% static "images/reviews/quote-right.png" %}" width="25" height="25" alt="">
                    </div>
                    <h3>{{ review.name }}</h3>
                    <h4>{{ review.client }}</h4>
                    <div class="stars">
                        {{ review.stars|rating_to_percent|safe }}
                    </div>
                    <p>{{ review.content }}</p>
                </div>
            {% endfor %}

            

        </div>

    </section>

{% endblock content %}