{% extends "base.html" %}

    <!-- header section ends -->

    <!-- sub heading -->
{% block content %}
    <div class="sub-heading">
        <h1>customer's review</h1>
    </div>

    <!-- end -->

    <!-- review section starts -->

    <section class="review">

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-1.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-2.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-3.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-4.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-5.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/quote-left.png" width="25" height="25" alt="">
                    <img src="images/review-6.png" alt="" class="user">
                    <img src="images/quote-right.png" width="25" height="25" alt="">
                </div>
                <h3>john paul</h3>
                <h4>satisfied client</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit, ducimus earum architecto numquam quis error itaque saepe blanditiis rem accusantium incidunt excepturi fuga nostrum magni, dolore tempore laboriosam repellat.</p>
            </div>

        </div>

    </section>

{% endblock content %}