.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blog .box-container .box{
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: 1rem;
}

.blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blog .box-container .box .content{
    padding: 2rem 2.5rem;
}

.blog .box-container .box .content .icons{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .box-container .box .content .icons a{
    font-size: 1.4rem;
    color: #666;
}
.blog .box-container .box .content .icons a:hover{
    color: var(--color);
}

.blog .box-container .box .content .icons a i{
    color: var(--color);
    padding-right: .5rem;
}

.blog .box-container .box .content h3{
    font-size: 2.2rem;
    color: #222;
}

.blog .box-container .box .content p{
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
    padding: 1rem 0;
}