{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- home section starts -->

<section class="home" id="home">

    <div class="content">
        <h3>coffee creations</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti ab, voluptate neque at modi veritatis.</p>
        <a href="#" class="btn">Explore now </a>
    </div>

</section>

<!-- home section ends -->

<!-- banner section starts -->

<section class="banner-container">
    {% for offer in special_offer %}
        <div class="banner">
            <img src="{{ offer.image.url }}" alt="">
            <div class="content">
                <span>{{ offer.title }}</span>
                <h3>{{ offer.description }}</h3>
                <a href="#" class="btn"> shop now</a>
            </div>
        </div>
    {% endfor %}

</section>

<!-- banner section ends -->

<!-- offer section starts -->

<section class="offer">

    <div class="heading">
        <h3>our offer</h3>
    </div>

    <div class="box-container">
        {% for offer in offers %}
        <div class="box">
            <img src="{{ offer.image.url }}" alt="">
            <h3>{{ offer.title }}</h3>
            <p>{{ offer.description }}</p>
        </div>
        {% endfor %}

    </div>

</section>

<!-- offer section ends -->
{% endblock content %}