{% extends "base.html" %}

{% block content %}
<section id="contact">
    <div class="container">
        <h2>Контакты</h2>
        <div class="contact_address">
            <p>Пекарня «Пани Пани».</p>
            <p>г. Краснодар ул. Красная, д. 176/5.</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@vkusnyashka.ru</p>

            <p>Мы принимаем заказы:</p>
            <p>пн-пт с 08:00 до 19:00, доставляем с 08:30 до 19:30</p>
            <p>сб-вс с 09:00 до 20:00, доставляем с 09:30 до 20:30</p>
            <p>Если ваш адрес находится вне зон доставки или сумма заказа меньше , вы можете вызвать Яндекс курьера, а мы сделаем скидку 10% за самовывоз</p>

Доставка осуществляется только от 1500р по г. Краснодар.
        </div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0cfb37e0d45981087c180a5c148ccb5cedfb85697e2551979a17f19bddc0513f&amp;width=594&amp;height=603&amp;lang=ru_RU&amp;scroll=true"></script>
        
    </div>
</section>
{% endblock content %}